<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>

	<!-- beans:bean id="dbDateAspect" class="com.lele.manager.test.aop.aspect.DBDateAspect"/ -->  
	<!-- Root Context: defines shared resources visible to all other web components -->

	<beans:import resource="applicationContext-tx.xml" />

	<beans:bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<beans:property name="locations">
			<beans:list>
				<!-- datasource -->
				<beans:value>classpath:properties/${server.type}/datasource.properties</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>
		
	<!-- json convert -->
	<beans:bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
	<beans:bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<beans:property name="messageConverters">
			<beans:list>
				<beans:bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
			</beans:list>
		</beans:property>
	</beans:bean> 	
	<!-- component scan -->
	<context:component-scan base-package="com.lele.manager" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
	</context:component-scan>

	<context:component-scan base-package="com.lele.wechat" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
	</context:component-scan>
	
	<beans:bean id="handlerExceptionResolver" class="com.lele.exception.handler.AnnotationHandlerMethodExceptionResolver">  
    	<beans:property name="defaultErrorView" value="error/500"/> <!--错误页面-->  
    	<beans:property name="messageConverters">
    	    <beans:list>
    	        <beans:bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />  
    	        <!-- JSON转换器无需设置mediaType,由外部客户端调用时，手动设置相关mediaType -->  
    	        <beans:bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />  
    	    </beans:list>
    	</beans:property>
	</beans:bean>
	
</beans:beans>
